@import "./constants/fonts";
@import "./constants/functions";

.container-collections {
  @include padding(64px, 256px, 64px, 256px);
  @media screen and (max-width: 1200px) {
    @include padding(1em);
    @include box-sizing(border-box);
  }
  @include display(block);

}
  .parallax-collections {
    @include widthAndHeight("auto", 100%);
    @include background-image("./images/art5.jpg", fixed, center, repeat, cover);

  .section-title {
    @include font("", "", bold, "", 60px, "", $Roboto, "");
    @include padding(30px);
    @include background-color(#3460f1);
    @include textAlign(center);
    color: #ffffff;
  }

    .top-actions {
      @include display(flex, 1, space-between);
      @include background-color(#ffffff);
      @include box-sizing(border-box);
      @include padding(10px);
      @media screen and(max-width: 1200px) {
        @include display(block);
        @include textAlign(center);
      }

      .capsules {
        @include display(flex, 1);
      }
    }

    .view-table {
      @include box-sizing(border-box);
      @include padding(50px, 100px, 100px, 100px);
      @include background-color(#ffffff);
      @media screen and (max-width: 1200px) {
        @include padding(10px);

        .view-row-picture {
          min-width: 100%;
          min-height: 200px;
        }
      }
    }
}

.picture-separator {
  @include margin(0, 0, 50px, 0);
}