@import "./constants/fonts";
@import "./constants/functions";

body {
  margin: 0;
}

//Force root document to have height 100% so that the parallax can be correctly rendered
body, html, main {
  @include widthAndHeight("auto", 100%);
}

.force-parallax {
  @include widthAndHeight("auto", 100%);

  .footer {
    @include display(flex, 1, center);
    @include widthAndHeight(100%, auto);
    @include background-color(#3460f1);
    @include padding(20px);
    @include box-sizing(border-box);

    ul {
      @include font("", "", "", "", 20px, "", $Roboto, "");
      list-style: none;
      li {
        @include padding(10px);
        @include box-sizing(border-box);
        a {
          color: #ffffff;
        }

        :hover {
          color: #454545;
        }
      }
    }
  }
}

.parallax-home {
  @include widthAndHeight("auto", 100%);
  @include background-image("images/home.jpg", fixed, center, repeat, cover);
  //------------------

  .section-title {
    @include font("", "", bold, "", 60px, "", $Roboto, "");
    @include padding(30px);
    @include background-color(#3460f1);
    @include textAlign(center);
    color: #ffffff;
  }

  .container-home {
    @include padding(50px);
    @media screen and (max-width: 1200px) {
      @include padding(0);
    }
    @include display(flex, 1, center);

    .news-desktop {
      @include display(flex, 1, center);
      @media screen and (max-width: 1200px) {
        @include display(none);
      }

      ul {
        @include padding(30px);
        @include display(flex, "", "");
        flex-direction: column;
        list-style: none;
        height: auto;

        .left-news {
          @include widthAndHeight("auto", 450px);
          @include display(flex, 1, center);
          flex-direction: column;
          box-sizing: border-box;
          max-width: 500px;

          img {
            min-height: 350px;
          }
        }

        .right-news {
          @include widthAndHeight("auto", 450px);
          @include widthAndHeight("auto", 450px);
          @include display(flex, 1, center);
          flex-direction: column;
          max-width: 500px;

          img {
            height: 350px;
          }
        }
      }
    }

    .news-mobile {
      @media screen and (min-width: 1200px) {
        @include display(none);
      }
      ul {
        @include box-sizing(border-box);
        @include display(flex, "", center);
        @include padding(30px);
        @include widthAndHeight(100%, "auto");
        list-style: none;
        flex-direction: column;

        li {
          @include widthAndHeight(100%, "auto");
          @include box-sizing(border-box);
          @include padding(10px);
          img {
            @include widthAndHeight("auto", "auto");
          }
        }
      }
    }

    .comments-cancel-padding {
      padding-top: 0;
      padding-bottom: 0
    }
  }
}
