@import "./constants/fonts";
@import "./constants/functions";

.container-login {
  @include padding(0, 256px, 64px, 256px);
  @include display(flex, 1, center);
  min-height: 500px;
  @media screen and (max-width: 1200px) {
    min-height: 400px;
    @include padding(1em);
    @include box-sizing(border-box);
  }
}

.button-login-signup {
  @include padding(10px, 0, 0, 0);
  @include display(flex, 1, center);
  min-width: 100%;
}

.content-login {
  @include margin(auto);
  @include display(flex, 1, center);
  @include widthAndHeight(100%, 100%);
  @include box-sizing(border-box);
  flex-direction: column;
  color: #000000;

}

.login-header {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: Roboto, 'sans-serif';
  font-size: 3em;
  opacity: 0.8;

  @media screen and (max-width: 1200px) {
    font-size: 2em;
  }
}