@import "./constants/fonts";
@import "./constants/functions";

.grid-list-wrap {
  @include display(flex, 0, space-around);
  flex-wrap: wrap;
}

.container-news-readOne {
  @include background-color(whitesmoke);
  @include padding(64px, 0, 64px, 0);
  min-height: 800px;
  @media screen and (max-width: 1200px) {
    min-height: 400px;
    @include padding(1em);
    @include box-sizing(border-box);
  }
}