
body{
	margin:0%;
}

body, html, main {
	/* important */
	height: 100%;
}

.parallax1 {
    background-image: url("art3.jpg");
    min-height: 20%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax2 {
    background-image: url("art5.jpg");
    min-height: 10%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*NAVIGATION-Star*/
.header{
	padding:40px;
    margin-bottom:20px;
}
.navigation {
  list-style: none;
  margin: 0;
  background: white;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.navigation a {
  text-decoration: none;
  display: block;
  color: #454545;
  font-family:Roboto;
  font-weight: bold;
  font-size:20px;
  letter-spacing: 1.2px;
}

.navigation a:hover {
  color:#07c5d0;
}

  .navigation a {
    text-align: center;
    padding: 5px;
  }

  .navigation li:last-of-type a {
    border-bottom: none;
  }

/*Link-underline-start*/

*, *:after, *:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
* {margin:0;padding:0;border:0 none;position: relative; outline: none;
}



li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: #07c5d0;
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transition: .25s linear;
}
li > a:hover:before,
li > a:focus:before {
  visibility: visible;
  transform: scaleX(1);
}

/*Link-underline-end*/

/*NAVIGATION-End*/



/*NewsText-Start*/
.NewsText{
	text-align:center;
	color:white;
	font-family:Roboto;
	letter-spacing:1px;
	font-size:60px;
	font-weight:bold;
	padding:120px;
	background:#3460f1;

}

/*NewsText-End*/

/*Gallery-Start*/
.container {
  padding: 0;
  margin-left: 200px;
  margin-right: 200px;
  margin-top:100px;
  margin-bottom:100px;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.image {
  background: #ef6653;
  padding: 5px;
  width: 400px;
  height: 400px;
  margin-top: 10px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  cursor:pointer;
}

.img__description {
  position: absolute;
  width:100%;
  height:100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.72);
  color: #454545;
  font-size:20px;
  font-family:roboto;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}
.image:hover .img__description {
  visibility: visible;
  opacity: 1;
}
/*Gallery-End*/

/*Search-Start*/
input {
	outline: none;
	margin-left:18.5%;
	margin-top:50px;
	}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: roboto;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}


input[type=search] {
	background: #ededed url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 60%;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 60%;
	background-color: #fff;
	border-color: #ff1a5f;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}


/*Search-End*/

/*Collection-start*/
.collection{
  padding: 0;
  margin-left: 5%;
  margin-right: 5%;
  margin-top:50px;
  margin-bottom:100px;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.image2 {
  background: #ef6653;
  padding: 5px;
  width: 70%;
  height: 500px;
  margin-top: 10px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  cursor:pointer;
}

.img__description {
  position: absolute;
  width:100%;
  height:100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.72);
  color: #454545;
  font-size:20px;
  font-family:roboto;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}
.image2:hover .img__description {
  visibility: visible;
  opacity: 1;
}
/*Collection-end*/

/*Creators-Start*/

.creators{
	
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  margin:30px;
}

.text_creators{
font-family:roboto;
font-size:45px;
font-weight:bold;
letter-spacing:1px;
text-align:center;
margin-top:60px;
color:#262626;
}

.container_creators{
  width: 400px;
  margin: 5% auto 0;
  background: #f0f0f0;
  font-family:roboto;
  border-radius: 3px;
}

.header_creators {
  text-align: center;
  padding: 40px 30px 0 30px;
}
.header_creators h1, .header_creators h2 {
  font-weight: 300;
}
.header_creators h1 {
  margin: 0;
}
.header_creators h2 {
  margin: 0 0 15px 0;
  color: #ff5845;
  font-family:roboto;
}

.profile {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin: 20px 0 0 0;
  border: 3px solid #ff5845;
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
  cursor:pointer;
}
.profile:hover {
  border: 3px solid #0598a0;
}

.content {
  background: #3460f1;
  color: #f0f0f0;
  padding: 75px 0 0 0;
  text-align: center;
  height: auto;
}
.content p {
  padding: 20px 40px;
  font-weight: 300;
}

/*Creators-End*/
 
 
/*FOOTER-start*/
footer{
	width:100%;
	background:#f6f6f7;
	height:200px;
	display:flex;
	justify-content:space-around:
}

.menu2{
	margin-left:30%;
	margin-top:5%;
}
.mn{
	color:#009ea7;
	font-family:roboto;
	font-size:20px;
	list-style:none;
	cursor:pointer;
}
.mn:hover{
	color:#454545;
}

.contact{
	margin-left:30%;
	margin-top:5%;
		list-style:none;
}
.ct{
	color:#009ea7;
	font-family:roboto;
	font-size:20px;
	cursor:pointer;
}
.ct:hover{
	color:#454545;
}
/*FOOTER-end*/

