@import "../constants/functions";
@import "../constants/fonts";

.header {
  @include display(flex, 1);
  .left {

  }
  .right {
    @include display(flex, 1, flex-end);
  }
}

.appBar {
  position: fixed !important;
  transition: top 0.3s;
  top: 0;
  left: 0;
}

.active-link-classname {
  span {
    background-color: #8dd2cc !important;
  }
}

.hidden {
  transition: top 0.3s;
  top: -64px;
}