.parallax-profile {
  width: auto;
  height: 100%;
  background-image: url("./images/art2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover; }
  .parallax-profile .container-profile {
    padding: 0 256px 64px 256px;
    min-height: 800px; }
    @media screen and (max-width: 1200px) {
      .parallax-profile .container-profile {
        min-height: 400px;
        padding: 1em   ;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; } }
    .parallax-profile .container-profile .cover-container {
      padding: 16px 24px 16px 24px; }
      @media screen and (max-width: 1200px) {
        .parallax-profile .container-profile .cover-container {
          min-height: 400px;
          padding: 0   ; } }

.profile-header {
  padding: 5px   ;
  display: flex;
  flex: 1;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 24px; }

.profile-latest-collection {
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 20px 0 0 0   ; }

.force-no-overlay-background div {
  background: transparent !important;
  max-height: 720px !important; }
.force-no-overlay-background img {
  max-height: 720px !important; }

@media screen and (min-width: 1200px) {
  .mobile-whitespace-fill-profile {
    display: none; } }

.force-profile-picture-width div {
  text-align: center;
  max-width: 40% !important;
  max-height: 40% !important;
  margin: 0 auto !important; }
.force-profile-picture-width img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px 5px 0 5px   ;
  background: #ffffff; }

.profile-wrap {
  display: flex;
  justify-content: center;
  min-width: 100%;
  max-width: 100%;
  margin: 0 auto; }

.profile-left {
  margin: 0;
  min-width: 20%;
  max-width: 20%;
  padding: 2em; }
  .profile-left img:hover {
    opacity: 0.7; }
  .profile-left img:active {
    opacity: 0.9; }
  .profile-left .profile-picture-wrap {
    height: 12em; }
  .profile-left .user-name-wrap {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    cursor: default;
    padding: 1em;
    border: 1px solid antiquewhite; }

.latest-post {
  margin-top: 3em;
  flex: 1; }
  .latest-post :hover {
    opacity: 0.8; }
  .latest-post :active {
    opacity: 0.9; }
  .latest-post header {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    padding: 1em;
    border: 1px solid antiquewhite;
    cursor: pointer; }
  .latest-post img {
    width: 100%;
    height: 100%; }
  .latest-post collectionName {
    display: flex;
    justify-content: center;
    background: #00bcd4;
    color: white; }

.profile-right {
  text-align: center;
  max-width: 70%;
  min-width: 70%; }
  .profile-right img:hover {
    opacity: 0.5; }
  .profile-right img:active {
    opacity: 0.9; }
  .profile-right .cover-wrap {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 12em; }
  .profile-right .content-wrap {
    width: 100%;
    padding: 0 2em 2em 2em; }

.tabs {
  display: flex;
  justify-content: center; }

.header {
  display: flex;
  flex: 1;
  justify-content: ""; }
  .header .right {
    display: flex;
    flex: 1;
    justify-content: flex-end; }

.appBar {
  position: fixed !important;
  transition: top 6s;
  top: 0;
  left: 0; }

.hidden {
  transition: top 6s;
  top: -64px; }

.top-bar-spacing {
  width: auto;
  height: 128px; }

body {
  margin: 0;
  font-size: 16px;
  font-family: Roboto,'sans-serif'; }

a {
  text-decoration: none;
  transition: color 0.4s; }
  a :hover {
    color: white; }

.active-link-classname span {
  background-color: lightblue !important; }

.error-message {
  display: flex;
  justify-content: center;
  color: red; }

.success-message {
  padding: 0 16px;
  color: deepskyblue; }

.text-center {
  text-align: center; }

.top-bar {
  display: flex;
  flex: 1;
  background: #2d2d2d;
  justify-content: space-between;
  margin-bottom: 30px; }
  .top-bar a,
  .top-bar .nav a {
    margin: 0 8px; }

.logo {
  padding: 5px; }

.actions {
  padding: 5px; }

.card-heading {
  padding: 16px; }

.button-login-signup {
  padding: 16px;
  display: flex;
  flex: 1;
  justify-content: center; }

.login-header {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: Roboto, 'sans-serif';
  font-size: 2em; }

.signup-header {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: Roboto, 'sans-serif';
  font-size: 2em; }

.logs-wrap {
  display: flex;
  justify-content: center;
  flex: 1; }

.logs-display {
  display: flex;
  flex: 1;
  justify-content: center; }

body {
  margin: 0; }

body, html, main {
  width: auto;
  height: 100%; }

.force-parallax {
  width: auto;
  height: 100%; }
  .force-parallax .footer {
    display: flex;
    flex: 1;
    justify-content: center;
    width: 100%;
    height: auto;
    background: #3460f1;
    padding: 20px   ;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .force-parallax .footer ul {
      font:     20px  "Roboto", "sans-serif";
      list-style: none; }
      .force-parallax .footer ul li {
        padding: 10px   ;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
        .force-parallax .footer ul li a {
          color: #ffffff; }
        .force-parallax .footer ul li :hover {
          color: #454545; }

.avatar-cells-home img {
  min-height: 40px !important; }

.parallax-home {
  width: auto;
  height: 100%;
  background-image: url("images/home.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover; }
  .parallax-home .section-title {
    font:   bold  60px  "Roboto", "sans-serif";
    padding: 30px   ;
    background: #3460f1;
    text-align: center;
    color: #ffffff; }
  .parallax-home .container-home {
    padding: 50px   ;
    display: flex;
    flex: 1;
    justify-content: center; }
    @media screen and (max-width: 1200px) {
      .parallax-home .container-home {
        padding: 0   ; } }
    .parallax-home .container-home .news-desktop {
      display: flex;
      flex: 1;
      justify-content: center; }
      @media screen and (max-width: 1200px) {
        .parallax-home .container-home .news-desktop {
          display: none;
          flex: "";
          justify-content: ""; } }
      .parallax-home .container-home .news-desktop ul {
        padding: 30px   ;
        display: flex;
        flex: "";
        justify-content: "";
        background: #ffffff;
        flex-direction: column;
        list-style: none;
        height: auto; }
        .parallax-home .container-home .news-desktop ul .left-news {
          width: auto;
          height: 450px;
          display: flex;
          flex: 1;
          justify-content: center;
          flex-direction: column;
          box-sizing: border-box;
          max-width: 500px; }
          .parallax-home .container-home .news-desktop ul .left-news img {
            min-height: 350px; }
        .parallax-home .container-home .news-desktop ul .right-news {
          width: auto;
          height: 450px;
          display: flex;
          flex: 1;
          justify-content: center;
          flex-direction: column;
          max-width: 500px; }
          .parallax-home .container-home .news-desktop ul .right-news img {
            height: 350px; }
    .parallax-home .container-home .comments-cancel-padding {
      padding-top: 0;
      padding-bottom: 0; }

.news-mobile {
  display: block;
  width: 100%;
  height: 100%; }
  @media screen and (min-width: 1200px) {
    .news-mobile {
      display: none;
      flex: "";
      justify-content: ""; } }
  .news-mobile ul {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    flex: "";
    justify-content: center;
    padding: 30px   ;
    width: 100%;
    height: auto;
    list-style: none;
    flex-direction: column; }
    .news-mobile ul li {
      width: 100%;
      height: auto;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 10px   ;
      background: #ffffff; }
      .news-mobile ul li img {
        width: auto;
        height: auto;
        min-height: 180px; }

.public-DraftEditor-content {
  min-height: 300px; }
  @media screen and (max-width: 1200px) {
    .public-DraftEditor-content {
      min-height: 150px; } }

.container-collections-delete {
  min-height: 800px; }
  @media screen and (max-width: 1200px) {
    .container-collections-delete {
      min-height: 400px; } }
  .container-collections-delete .delete-header {
    display: flex;
    flex: 1;
    justify-content: center;
    font-size: 3em; }
    @media screen and (max-width: 1200px) {
      .container-collections-delete .delete-header {
        font-size: 2em; } }
  .container-collections-delete .delete-header-success {
    display: flex;
    flex: 1;
    justify-content: center;
    font-size: 1em; }
  .container-collections-delete .delete-actions {
    display: flex;
    flex: 1;
    justify-content: center; }

.mobile-header {
  display: flex;
  flex: 1;
  justify-content: flex-start; }
  .mobile-header div {
    padding: 0 !important   ; }
  .mobile-header .collection-header {
    text-align: center;
    display: flex;
    flex: 1;
    justify-content: flex-start;
    font-size: 2em !important;
    word-break: break-all; }

.top-actions {
  display: flex;
  flex: 1;
  justify-content: space-between;
  background: #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px   ; }
  @media screen and (max-width: 1200px) {
    .top-actions {
      display: block;
      flex: "";
      justify-content: "";
      text-align: center; } }
  .top-actions .capsules {
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 30px 0 0 0   ; }
    @media screen and (max-width: 1200px) {
      .top-actions .capsules {
        padding: 10px 0 0 0   ; } }

.parallax-collections-delete {
  width: auto;
  height: 100%;
  background-image: url("./images/art1.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover; }

.parallax-collections-readOne {
  width: auto;
  height: 100%;
  background-image: url("./images/art6.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover; }

.pictures {
  display: flex;
  flex: 1;
  justify-content: space-around; }

@media screen and (min-width: 1200px) {
  .collections-content-readOne-mobile {
    display: none;
    flex: "";
    justify-content: ""; } }
.collections-content-readOne-mobile .force-image-height {
  min-height: 200px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0 20px 0;
  margin-right: "";
  margin-top: 0 0 20px 0;
  margin-bottom: "";
  margin-left: ""; }
  .collections-content-readOne-mobile .force-image-height img {
    min-height: 200px; }

@media screen and (max-width: 1200px) {
  .qr-restrict-desktop {
    display: none;
    flex: "";
    justify-content: ""; } }

@media screen and (min-width: 1200px) {
  .qr-allow-mobile {
    display: none;
    flex: "";
    justify-content: ""; } }

.collections-content-readOne-desktop {
  display: flex;
  flex: 1;
  justify-content: space-around;
  background: whitesmoke;
  margin: 0 0 64px 0;
  margin-right: "";
  margin-top: 0 0 64px 0;
  margin-bottom: "";
  margin-left: ""; }
  @media screen and (max-width: 1200px) {
    .collections-content-readOne-desktop {
      display: block;
      flex: "";
      justify-content: ""; } }
  .collections-content-readOne-desktop ul {
    list-style: none;
    display: block;
    flex: 1;
    justify-content: space-around; }
    .collections-content-readOne-desktop ul .collection-description {
      padding: 30px   ;
      font-size: 16px !important; }
    .collections-content-readOne-desktop ul .list-spacing-readOne {
      padding: 30px   ; }
      .collections-content-readOne-desktop ul .list-spacing-readOne .force-image-height {
        min-height: 280px;
        min-width: 400px;
        padding: 20px   ; }
        .collections-content-readOne-desktop ul .list-spacing-readOne .force-image-height img {
          min-height: 280px;
          min-width: 400px; }
  @media screen and (max-width: 1200px) {
    .collections-content-readOne-desktop {
      display: none;
      flex: "";
      justify-content: ""; } }

.container-collections-readOne {
  padding: 64px 0 64px 0;
  min-height: 800px; }
  @media screen and (max-width: 1200px) {
    .container-collections-readOne {
      min-height: 400px;
      padding: 1em   ;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; } }

.container-collections {
  padding: 64px 256px 64px 256px;
  min-height: 800px;
  display: block;
  flex: "";
  justify-content: ""; }
  @media screen and (max-width: 1200px) {
    .container-collections {
      min-height: 400px;
      padding: 1em   ;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; } }
  .container-collections .errors-collections {
    display: flex;
    flex: 1;
    justify-content: center;
    color: #ff0000; }
  .container-collections .success-collections {
    display: flex;
    flex: 1;
    justify-content: center;
    color: #32cd32; }
  .container-collections .success-collections-create {
    text-align: center;
    display: block;
    flex: "";
    justify-content: "";
    color: #32cd32; }
  .container-collections .top-actions-create {
    background: #ffffff; }
  .container-collections .step-style {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 50px   ;
    text-align: center; }
    @media screen and (max-width: 1200px) {
      .container-collections .step-style {
        padding: 20px   ; } }
    .container-collections .step-style .step-picture {
      min-height: 300px; }
    .container-collections .step-style .step-textfields {
      width: 70% !important;
      height: auto; }
      @media screen and (max-width: 1200px) {
        .container-collections .step-style .step-textfields {
          width: 100% !important;
          height: auto; } }
    .container-collections .step-style .preview {
      min-height: 400px;
      text-align: center; }
  .container-collections .step-actions {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: auto 50px auto 50px !important   ; }
    @media screen and (max-width: 1200px) {
      .container-collections .step-actions {
        display: block;
        flex: "";
        justify-content: "";
        text-align: center;
        padding: 20px !important   ; } }
    .container-collections .step-actions .right-actions {
      display: flex;
      flex: 1;
      justify-content: flex-end; }

.parallax-collections-create {
  width: auto;
  height: 100%;
  background-image: url("./images/art.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover; }
  .parallax-collections-create .section-title {
    font:   bold  60px  "Roboto", "sans-serif";
    padding: 30px   ;
    background: #3460f1;
    text-align: center;
    color: #ffffff; }
  .parallax-collections-create .view-table {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 50px 100px 100px 100px;
    background: #ffffff; }
    @media screen and (max-width: 1200px) {
      .parallax-collections-create .view-table {
        padding: 10px   ; }
        .parallax-collections-create .view-table .view-row-picture {
          min-width: 100%;
          min-height: 200px; } }

.parallax-collections {
  width: auto;
  height: 100%;
  background-image: url("./images/art5.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover; }
  .parallax-collections .container-collections {
    padding: 64px 256px 64px 256px;
    min-height: 800px;
    display: block;
    flex: "";
    justify-content: ""; }
    @media screen and (max-width: 1200px) {
      .parallax-collections .container-collections {
        min-height: 400px;
        padding: 1em   ;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; } }
  .parallax-collections .section-title {
    font:   bold  60px  "Roboto", "sans-serif";
    padding: 30px   ;
    background: #3460f1;
    text-align: center;
    color: #ffffff; }
  .parallax-collections .top-actions {
    display: flex;
    flex: 1;
    justify-content: space-between;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px   ; }
    @media screen and (max-width: 1200px) {
      .parallax-collections .top-actions {
        display: block;
        flex: "";
        justify-content: "";
        text-align: center; } }
    .parallax-collections .top-actions .capsules {
      display: flex;
      flex: 1;
      justify-content: ""; }
  .parallax-collections .view-table {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 50px 100px 100px 100px;
    background: #ffffff; }
    @media screen and (max-width: 1200px) {
      .parallax-collections .view-table {
        padding: 10px   ; }
        .parallax-collections .view-table .view-row-picture {
          min-width: 100%;
          min-height: 200px; } }

.picture-separator {
  margin: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 50px;
  margin-left: 0; }

.grid-list-wrap {
  display: flex;
  flex: 0;
  justify-content: space-around;
  flex-wrap: wrap; }

.container-news-readOne {
  background: whitesmoke;
  padding: 64px 0 64px 0;
  min-height: 800px; }
  @media screen and (max-width: 1200px) {
    .container-news-readOne {
      min-height: 400px;
      padding: 1em   ;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; } }

/*# sourceMappingURL=main.css.map */
