.profile-wrap {
  display: flex;
  justify-content: center;
  min-width: 100%;
  max-width: 100%;
  margin: 0 auto; }

.profile-left {
  margin: 0;
  min-width: 20%;
  max-width: 20%;
  padding: 2em; }
  .profile-left img:hover {
    opacity: 0.7; }
  .profile-left img:active {
    opacity: 0.9; }
  .profile-left .profile-picture-wrap {
    height: 12em; }
  .profile-left .user-name-wrap {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    cursor: default;
    padding: 1em;
    border: 1px solid antiquewhite; }

.latest-post {
  margin-top: 3em;
  flex: 1; }
  .latest-post :hover {
    opacity: 0.8; }
  .latest-post :active {
    opacity: 0.9; }
  .latest-post header {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    padding: 1em;
    border: 1px solid antiquewhite;
    cursor: pointer; }
  .latest-post img {
    width: 100%;
    height: 100%; }
  .latest-post collectionName {
    display: flex;
    justify-content: center;
    background: #00bcd4;
    color: white; }

.profile-right {
  text-align: center;
  max-width: 70%;
  min-width: 70%; }
  .profile-right img:hover {
    opacity: 0.5; }
  .profile-right img:active {
    opacity: 0.9; }
  .profile-right .cover-wrap {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 12em; }
  .profile-right .content-wrap {
    width: 100%;
    padding: 0 2em 2em 2em; }

.tabs {
  display: flex;
  justify-content: center; }

.header {
  display: flex;
  flex: 1;
  justify-content: ""; }
  .header .right {
    display: flex;
    flex: 1;
    justify-content: flex-end; }

.appBar {
  position: fixed !important;
  transition: top 6s;
  top: 0;
  left: 0; }

.hidden {
  transition: top 6s;
  top: -64px; }

.top-bar-spacing {
  width: auto;
  height: 128px; }

body {
  margin: 0;
  font-size: 16px;
  font-family: Roboto,'sans-serif'; }

a {
  text-decoration: none;
  transition: color 0.4s; }
  a :hover {
    color: white; }

.active-link-classname span {
  background-color: lightblue !important; }

.error-message {
  display: flex;
  justify-content: center;
  color: red; }

.success-message {
  padding: 0 16px;
  color: deepskyblue; }

.text-center {
  text-align: center; }

.top-bar {
  display: flex;
  flex: 1;
  background: #2d2d2d;
  justify-content: space-between;
  margin-bottom: 30px; }
  .top-bar a,
  .top-bar .nav a {
    margin: 0 8px; }

.logo {
  padding: 5px; }

.actions {
  padding: 5px; }

.card-heading {
  padding: 16px; }

.button-login-signup {
  padding: 16px;
  display: flex;
  flex: 1;
  justify-content: center; }

.login-header {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: Roboto, 'sans-serif';
  font-size: 2em; }

.signup-header {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: Roboto, 'sans-serif';
  font-size: 2em; }

.logs-wrap {
  display: flex;
  justify-content: center;
  flex: 1; }

.logs-display {
  display: flex;
  flex: 1;
  justify-content: center; }

body {
  margin: 0; }

body, html, main {
  width: auto;
  height: 100%; }

.force-parallax {
  width: auto;
  height: 100%; }
  .force-parallax .footer {
    display: flex;
    flex: 1;
    justify-content: center;
    width: 100%;
    height: auto;
    background: #3460f1;
    padding: 20px   ;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .force-parallax .footer ul {
      font:     20px  "Roboto", "sans-serif";
      list-style: none; }
      .force-parallax .footer ul li {
        padding: 10px   ;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
        .force-parallax .footer ul li a {
          color: #ffffff; }
        .force-parallax .footer ul li :hover {
          color: #454545; }

.parallax-home {
  width: auto;
  height: 100%;
  background-image: url("images/home.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover; }
  .parallax-home .section-title {
    font:   bold  60px  "Roboto", "sans-serif";
    padding: 30px   ;
    background: #3460f1;
    text-align: center;
    color: #ffffff; }
  .parallax-home .container-home {
    padding: 50px   ;
    display: flex;
    flex: 1;
    justify-content: center; }
    @media screen and (max-width: 1200px) {
      .parallax-home .container-home {
        padding: 0   ; } }
    .parallax-home .container-home .news-desktop {
      display: flex;
      flex: 1;
      justify-content: center; }
      @media screen and (max-width: 1200px) {
        .parallax-home .container-home .news-desktop {
          display: none;
          flex: "";
          justify-content: ""; } }
      .parallax-home .container-home .news-desktop ul {
        padding: 30px   ;
        display: flex;
        flex: "";
        justify-content: "";
        background: #ffffff;
        flex-direction: column;
        list-style: none;
        height: auto; }
        .parallax-home .container-home .news-desktop ul .left-news {
          width: auto;
          height: 450px;
          display: flex;
          flex: 1;
          justify-content: center;
          flex-direction: column;
          box-sizing: border-box;
          max-width: 500px; }
          .parallax-home .container-home .news-desktop ul .left-news img {
            min-height: 350px; }
        .parallax-home .container-home .news-desktop ul .right-news {
          width: auto;
          height: 450px;
          display: flex;
          flex: 1;
          justify-content: center;
          flex-direction: column;
          max-width: 500px; }
          .parallax-home .container-home .news-desktop ul .right-news img {
            height: 350px; }
    @media screen and (min-width: 1200px) {
      .parallax-home .container-home .news-mobile {
        display: none;
        flex: "";
        justify-content: ""; } }
    .parallax-home .container-home .news-mobile ul {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      display: flex;
      flex: "";
      justify-content: center;
      padding: 30px   ;
      width: 100%;
      height: auto;
      list-style: none;
      flex-direction: column; }
      .parallax-home .container-home .news-mobile ul li {
        width: 100%;
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px   ;
        background: #ffffff; }
        .parallax-home .container-home .news-mobile ul li img {
          width: auto;
          height: auto;
          min-height: 180px; }
    .parallax-home .container-home .comments-cancel-padding {
      padding-top: 0;
      padding-bottom: 0; }

.public-DraftEditor-content {
  min-height: 300px; }
  @media screen and (max-width: 1200px) {
    .public-DraftEditor-content {
      min-height: 150px; } }

.container-collections-delete {
  min-height: 800px; }
  @media screen and (max-width: 1200px) {
    .container-collections-delete {
      min-height: 400px; } }
  .container-collections-delete .delete-header {
    display: flex;
    flex: 1;
    justify-content: center;
    font-size: 3em; }
    @media screen and (max-width: 1200px) {
      .container-collections-delete .delete-header {
        font-size: 2em; } }
  .container-collections-delete .delete-header-success {
    display: flex;
    flex: 1;
    justify-content: center;
    font-size: 1em; }
  .container-collections-delete .delete-actions {
    display: flex;
    flex: 1;
    justify-content: center; }

.parallax-collections-delete {
  width: auto;
  height: 100%;
  background-image: url("./images/art1.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover; }

.parallax-collections-create {
  width: auto;
  height: 100%;
  background-image: url("./images/art.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover; }
  .parallax-collections-create .container-collections {
    padding: 64px 256px 64px 256px;
    min-height: 800px;
    display: block;
    flex: "";
    justify-content: ""; }
    @media screen and (max-width: 1200px) {
      .parallax-collections-create .container-collections {
        min-height: 400px;
        padding: 1em   ;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; } }
    .parallax-collections-create .container-collections .errors-collections {
      display: flex;
      flex: 1;
      justify-content: center;
      color: #ff0000; }
    .parallax-collections-create .container-collections .success-collections {
      display: flex;
      flex: 1;
      justify-content: center;
      color: #32cd32; }
    .parallax-collections-create .container-collections .success-collections-create {
      text-align: center;
      display: block;
      flex: "";
      justify-content: "";
      color: #32cd32; }
    .parallax-collections-create .container-collections .top-actions-create {
      background: #ffffff; }
    .parallax-collections-create .container-collections .step-style {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 50px   ;
      text-align: center; }
      @media screen and (max-width: 1200px) {
        .parallax-collections-create .container-collections .step-style {
          padding: 20px   ; } }
      .parallax-collections-create .container-collections .step-style .step-picture {
        min-height: 300px; }
      .parallax-collections-create .container-collections .step-style .step-textfields {
        width: 70% !important;
        height: auto; }
        @media screen and (max-width: 1200px) {
          .parallax-collections-create .container-collections .step-style .step-textfields {
            width: 100% !important;
            height: auto; } }
      .parallax-collections-create .container-collections .step-style .preview {
        min-height: 400px;
        text-align: center; }
    .parallax-collections-create .container-collections .step-actions {
      display: flex;
      flex: 1;
      justify-content: space-between;
      padding: auto 50px auto 50px !important   ; }
      @media screen and (max-width: 1200px) {
        .parallax-collections-create .container-collections .step-actions {
          display: block;
          flex: "";
          justify-content: "";
          text-align: center;
          padding: 20px !important   ; } }
      .parallax-collections-create .container-collections .step-actions .right-actions {
        display: flex;
        flex: 1;
        justify-content: flex-end; }
  .parallax-collections-create .section-title {
    font:   bold  60px  "Roboto", "sans-serif";
    padding: 30px   ;
    background: #3460f1;
    text-align: center;
    color: #ffffff; }
  .parallax-collections-create .top-actions {
    display: flex;
    flex: 1;
    justify-content: space-between;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px   ; }
    @media screen and (max-width: 1200px) {
      .parallax-collections-create .top-actions {
        display: block;
        flex: "";
        justify-content: "";
        text-align: center; } }
    .parallax-collections-create .top-actions .capsules {
      display: flex;
      flex: 1;
      justify-content: ""; }
  .parallax-collections-create .view-table {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 50px 100px 100px 100px;
    background: #ffffff; }
    @media screen and (max-width: 1200px) {
      .parallax-collections-create .view-table {
        padding: 10px   ; }
        .parallax-collections-create .view-table .view-row-picture {
          min-width: 100%;
          min-height: 200px; } }

.parallax-collections {
  width: auto;
  height: 100%;
  background-image: url("./images/art5.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover; }
  .parallax-collections .container-collections {
    padding: 64px 256px 64px 256px;
    min-height: 800px;
    display: block;
    flex: "";
    justify-content: ""; }
    @media screen and (max-width: 1200px) {
      .parallax-collections .container-collections {
        min-height: 400px;
        padding: 1em   ;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; } }
  .parallax-collections .section-title {
    font:   bold  60px  "Roboto", "sans-serif";
    padding: 30px   ;
    background: #3460f1;
    text-align: center;
    color: #ffffff; }
  .parallax-collections .top-actions {
    display: flex;
    flex: 1;
    justify-content: space-between;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px   ; }
    @media screen and (max-width: 1200px) {
      .parallax-collections .top-actions {
        display: block;
        flex: "";
        justify-content: "";
        text-align: center; } }
    .parallax-collections .top-actions .capsules {
      display: flex;
      flex: 1;
      justify-content: ""; }
  .parallax-collections .view-table {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 50px 100px 100px 100px;
    background: #ffffff; }
    @media screen and (max-width: 1200px) {
      .parallax-collections .view-table {
        padding: 10px   ; }
        .parallax-collections .view-table .view-row-picture {
          min-width: 100%;
          min-height: 200px; } }

.picture-separator {
  margin: 0 0 50px 0; }

/*# sourceMappingURL=main.css.map */
